/* * {
    font-family: 'Inter' !important;
}

a {
    color: #ffffff !important;
    text-decoration: none;
}

.entirePage {
    background-color: #12152a;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.login-btn {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: 50px;
}

.login-btn-text {
    border: 4px solid white;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.signup-btn-text {
    background-color: #4d50ff;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    align-items: center;
}

.firstPage_landingPage {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.last-intro-text {
    margin-top: 20px;
    margin-bottom: 30px;
} */