.addSection {
    min-width: 368px;
    height: 101px;
    box-sizing: border-box;
    background-color: transparent;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addSection>p {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.boardViewForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createSection {
    width: 368px;
    height: 128px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: rgba(47, 57, 126, 0.4);
    backdrop-filter: blur(50px);
}

#newBoardName {
    color: white;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    height: 39px;
}

#newBoardName::placeholder {
    color: white !important;
}

.createButton {
    background-color: #FFAC4A;
    max-width: 160px;
    margin-left: 30%;
}