.boardColumn {
    width: 408px;
    min-height: 127px;
    max-height: 770px;
    background-color: #1A1E4A;
    border-radius: 10px;
    margin-right: 20px;
}

.columnHeader>p {
    color: #FFFFFF;
    margin-left: 30px;
}

.headerTopRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.headerTopRowRightSide {
    padding-top: 20px;
    padding-right: 20px;
}

.threeDotsButton {
    width: 166px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.deleteSectionButton {
    width: 160px;
    height: 39px;
    background-color: #2F397E66;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
}

.boardName {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    padding-top: 20px;
    margin-left: 30px;
}

.headerBottomRow {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
}

.headerBottomRow>p {
    font-size: 16px;
    font-weight: 700;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    color: #FFFFFF
}

.removeCardsButton {
    display: flex;
    height: 48px;
    width: 116px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #31345c;
}

.boardCardsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 640px;
}

.boardCardsSection::-webkit-scrollbar {
    width: 6px;
}

.boardCardsSection::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

.boardCardsSection::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

.boardCardsSection::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

.boardCardsSection::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}