.boardsSection {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    overflow-x: auto;
}

.usersBoards {
    display: flex;
    flex-direction: row;
}

.boardsSection::-webkit-scrollbar {
    width: 6px;
}

.boardsSection::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

.boardsSection::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

.boardsSection::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

.boardsSection::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}