.navBarContainer {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 40px;
    /* position: relative; */
}

.navigationSection {
    display: flex;
    height: 40px;
    column-gap: 50px;
    align-items: center;
}

.navigationSection>p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border-bottom: 1px solid white;
    padding-bottom: 5px;

}

.cardViewLink {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.addCardsContainer {
    display: flex;
}

.buttonsSection {
    display: flex;
    margin-right: 80px;
    column-gap: 120px;
    /* position: absolute;
    top: 30px;
    right: 0 */
}

.addCardButton {
    border-radius: 50%;
    background-color: #4A52FF;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logOutButton {
    width: 135px;
    height: 39px;
    font-size: 16px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    right: 15px;
}