* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
    background-color: $backgroundPageColor;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    // padding: 10px;

    // &:hover,
    // &:focus {
    //     color: #d84823;
    //     // background-color: #dda15e;
    // }
}

button {
    cursor: pointer;
}

// .bottom {
//     font-weight: bold;
// }