* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 100%;
    font-family: $fontFamily;
    @include body;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: $white;
}

button {
    cursor: pointer;
    text-decoration: none;
}