.dashboardStyle {
    background-color: $background;
}

.navBar {
    height: 8rem;
    color: $white;
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    button {
        border: none;
        background-color: transparent;
        color: $white;
    }
}

.topNavBar {
    height: 40px;
    color: $white;
    display: flex;
    justify-content: space-between;

    li {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.viewBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 40px;

    button:active,
    :focus {
        border-bottom: 1px solid white;
    }
}

.searchCreate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

    .searchBar {
        // border: 1px solid green;
        width: 80%;
        align-self: flex-end;
        position: relative;

        :active,
        :focus {
            width: 100%;
        }

        input {
            border-radius: 500px;
            border: none;
            width: 50%;
            padding: 7px 10px;
            transition: all 0.8s ease-in 0.2s;
            position: absolute;
            right: 0px;
        }

        button {
            color: $black;
            position: absolute;
            right: 0px;
            z-index: 10;
            padding: 15px;
        }
    }


    .newAppBtnContainer {
        // position: relative;
        margin: 0 auto;

        button {
            font-size: 2rem;
            color: $cardDarkBlue;
        }
    }

}

.bottomNavBar {
    display: flex;
    justify-content: space-between;

    padding-top: 15px;
    width: 30%;

    // li {
    // margin-left: 10px;
    // margin-right: 10px;
    // border: 1px solid red;
    // width: 50px;
    // }

}

.columnGrid {
    display: flex;


    button {
        margin: 5px 10px
    }
}