.dashboardStyle {
    background-color: $backgroundPageColor;
}

.navBar {
    height: 4rem;
    color: $textColor;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        height: 1.5rem;
    }

    button {
        border: none;
        background-color: $backgroundPageColor;
        color: $textColor;

        &:hover {
            border-bottom: 1px solid white;
        }
    }

    .viewBtns {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 30%;
        height: 1.75rem;

    }

    .controlBtns {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 1.75rem;


        input {
            border-radius: 10px;
            border: none;
            padding: 5px;
        }
    }


}