.jobDisplayed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    color: $white;
    align-content: flex-start;

}

.cardBody {
    border-radius: 10px 10px 0 0;
}


.cardsJob {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    margin: 5px;
    background-color: $cardColor;
    flex: nowrap;
    height: 200px;
    position: relative;
}

.col1 {
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    min-height: 200px;
    height: 200px;
}

.col2 {
    max-width: 368px;
    min-width: 368px;
    min-height: 200px;
    height: 200px;

}

.col3 {
    max-width: 368px;
    min-width: 368px;
    min-height: 200px;
    height: 200px;
    // max-width: calc((100% / 3) - 10px);
    // min-width: calc((100% / 3) - 10px);
}

.col4 {
    max-width: calc((100% / 4) - 5px);
    min-width: calc((100% / 4) - 5px);
    min-height: 200px;
    height: 200px;
    align-self: flex-start;
    align-content: flex-start;
}

.cardsCont1 {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

.cardsCont2 {
    max-width: 760px;
    width: 80%;
    margin: 0 auto;
}