.landingPg {
    background-color: $background;
    // position: relative;
    height: 100vh;
    display: flex;

    .wrapper {
        align-items: center;
        position: relative;
    }
}

.login-btn {
    position: absolute;
    top: 25px;
    right: 25px;

    .login-btn-text {
        border: 4px solid white;
        background-color: transparent;
        border-radius: 10px;
        width: 130px;
        height: 40px;
        padding-bottom: 30px;

    }

    :hover {
        background-color: $white;
        color: $background;
    }
}

.mainHeader_landingPAge {
    h2 {
        color: $white;
    }
}




.signup-btn-text {
    background-color: #4d50ff;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    align-items: center;
}

.firstPage_landingPage {
    display: flex;
    justify-content: center;
    height: 100vh;
    // margin-top: 40px;
}

.last-intro-text {
    margin-top: 20px;
    margin-bottom: 30px;
}