.modal_style {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 70%;
    border-radius: 20px;
    color: $white;


    textarea {
        color: $white;
        padding: 15px;

    }
}


.overlay_style {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 80;
    // overflow-y: scroll;
}

// .blur {
//     background-color: $background2;
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     z-index: -2;
//     backdrop-filter: blur(50px);
//     border-radius: 20px;
// }

.headerForm {
    position: relative;
    padding: 20px;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;


    h3,
    #jobTitle {
        @include header1;
        color: $black;
    }

    h4,
    #company {
        @include header2;
        color: $black;
        margin-top: 10px
    }

    h5,
    #location {
        @include header4;
        padding-top: 5px;
        color: $black;
        margin-top: 10px;
    }

    .saveApplication {
        position: absolute;
        padding: 14px 12px;
        bottom: 20px;
        right: 20px;
        border: none;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 10px;

    }

    .closeApplication {
        position: absolute;
        font-size: 25px;
        top: 25px;
        right: 25px;
        border: none;
        background-color: transparent;
    }
}


.bodyForm {
    // position: relative;
    // background-color: rgba(47, 57, 126, 0.6);
    background-color: rgba(106, 110, 218, 0.35);
    // background-color: rgba(83, 85, 151, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    padding: 5px 20px 20px 20px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


    textarea {
        background-color: $background;
        border-radius: 10px;
        resize: none;

    }

    label {
        margin: 10px 10px 10px 0px;
        padding: 5px 0px 5px 0px;
        color: $white;
        display: inline-block;
        align-self: center
    }

    input {
        width: 78%;
        background-color: $backgroundInput;
        border-radius: 10px;
        height: 35px;
        border: none;
        margin: 10px 0px 10px 10px;
        padding: 1px 10px;
        color: $white
    }

    option {
        background-color: #2F397E;
        // background-color: #878fc3;
        // opacity: 0.1;

        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }



}

.bodyLeft {
    width: 50%;
    height: 100%;
    margin-right: 10px;

    .inputForm {
        display: flex;
    }

    .inputLeft {
        width: 100%;
        min-width: 300px;
        // position: relative;

        // .customArrow {
        //     position: absolute;
        //     top: 10px;
        //     left: 10px;
        //     display: block;
        //     height: 15px;
        //     width: 15px;
        //     background-color: red;
        // }
    }

    .inputRight {
        width: 100%;
        min-width: 200px;
    }

    .noteForm {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 0px;
            margin-bottom: 5px;
            align-self: flex-start;
        }

        textarea {
            width: 100%;
            background-color: $backgroundInput
        }
    }

    label {
        padding-left: -50px;
    }

    select {
        color: $white;
        font-weight: 100;
        appearance: none;
    }
}

.bodyRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 10px;

    .rightUpperForm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: nowrap;

        input {
            width: 70%;
        }
    }

    .leftBottomForm {
        textarea {
            height: 100%;
            width: 100%;
            background-color: $backgroundInput
        }

        label {
            margin-top: 0px;
            margin-bottom: 5px;
            align-self: flex-start;
        }

    }
}

.redCorBack {
    background-color: $cardRed
}

.orangeCorBack {
    background-color: $cardOrange
}

.yellowCorBack {
    background-color: $cardYellow
}

.lightBlueCorBack {
    background-color: $cardLightBlue
}

.darkBlueCorBack {
    background-color: $cardDarkBlue
}

.purpleCorBack {
    background-color: $cardPurple
}

.pinkCorBack {
    background-color: $cardPink
}

.minifield {
    display: flex;
    flex-direction: row;


    input {
        width: 50%;
    }

    input[type=text] {
        min-width: 150px;
        align-self: flex-start;
    }

    input[type=email] {
        min-width: 187px;
    }
}

.alertfield {
    position: relative;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
    right: 20px;
    // top: 5px;
    height: 40px;
    width: 150px;


    // &:checked+.alertLabel::after {
    //     right: 3px;
    // }
}


.alertLabel::before {
    content: " ";
    width: 60px;
    height: 30px;
    background-color: $backgroundInput;
    position: absolute;
    right: 30px;
    border-radius: 30px;
}

.alertLabel::after {
    content: "";
    position: absolute;
    top: 17.5px;
    right: 62.5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $white;
    transition: 0.5s;

}

.checked {
    &.alertLabel::after {
        right: 32.5px;
    }

    // &.alerLabel::before {
    //     background-color: greenyellow;
    // }
}

.checked {
    &.alerLabel:before {
        background-color: none;
    }
}

.statusApp::before {
    content: "";
    background-image: url("../imgFiles/arrow-up-vector.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
}





// .dot {
//     height: 24px;
//     width: 24px;
//     border-radius: 50%;
//     display: inline-block;
//     margin-right: 18px;
// }

// .redDot {
//     background-color: #FE5A5A;
// }

// .orangeDot {
//     background-color: #FFAC4A;
// }

// .yellowDot {
//     background-color: #FFE24A;
// }

// .greenDot {
//     background-color: #63BF37;
// }

// .lightBlueDot {
//     background-color: #4AC9FF;
// }

// .mediumBlueDot {
//     background-color: #4A52FF;
// }

// .purpleDot {
//     background-color: #AF4AFF;
// }

// .pinkDot {
//     background-color: #FF77C9;
//     margin-right: 0px !important;
// }