.navBar {
    display: flex;
    justify-content: space-between;
    // position: absolute;
    // top: 50px;

    .viewBtns {
        display: flex;
    }

    .controlBtns {
        display: flex;
    }


}