.formContainer {
    border-radius: 20px;

    input {
        border-radius: 10px;
    }

    textarea {
        border-radius: 10px;
    }
}

.headerForm {
    background-color: $red;
    position: relative;
    padding: 20px;

    h5 {
        padding-top: 5px;
    }

    .saveApplication {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background-color: $red;
    }
}

.bottomForm {
    background-color: $backgroundCardColor;
    display: flex;
    padding: 20px;
}

.bottomLeftForm {
    width: 100%;
    flex: wrap;

    label,
    input {
        margin: 10px;
        padding: 5px;

    }

    input {
        width: 50%;
        border: none;
    }

}

.inputForm {
    display: flex;
}

.inputLeftForm,
.inputRightForm {
    display: flex;
    flex-direction: column;

    label,
    input {
        display: inline;
    }
}

// .inputLeftForm {
//     width: 60%;
// }


.noteForm {
    display: flex;
    flex-direction: column;

    textarea {
        height: 100%;
    }
}