$backgroundPageColor: #1A1E4A;
$backgroundCardColor: #818181;
$red: #FE5A5A;
$orange: #FFAC4A;
$yellow: #FFE24A;
$green: #63BF37;
$skyBlue: #4AC9FF;
$blueViolet: #4A52FF;
$purple: #AF4AFF;
$pink: #FF77C9;
$textColor: #FFFFFF;