$background: #12152A;
$cardColor: rgba(255, 255, 255, 0.4);
$cardRed: #FE5A5A;
$cardOrange: #FFAC4A;
$cardYellow: #FFE24A;
$cardGreen: #63BF37;
$cardLightBlue: #4AC9FF;
$cardDarkBlue: #4A52FF;
$cardPurple: #AF4AFF;
$cardPink: #FF77C9;
$white: #FFFFFF;
$black: #000000;
$toggleGreen: #84FF4A;
$warning: #BF3737;